body html {
    height: auto;
    margin: 100%;
    padding: 0;
    background-color: #333;
    display: flex;
    flex-direction: column;
}
.headSection {
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 1000;
    background-color: #333;
    width: 100%;
    height: auto;
    border: 2px solid rgb(204, 155, 20);
}
.button{
    position: relative;
    width: 100%;
    height: auto;
    text-align: center;
}
.logoImg{
    max-width: 100px;
    height: auto;
    position: relative;
}
.connectWallet{
    margin: 0;
    padding: 10px;
    max-width: 100px;
    height: auto;
    position: relative;
    border: 1px solid rgb(204, 155, 20);
    background-color: #333;
    color: aliceblue;
    cursor: pointer;
}
.menu-icon {
    position: relative;
    align-items: flex-end;
    width: 30px;
    height: 20px;
    padding: 20px;
    cursor: pointer;

}
.menu-line {
    position: relative;
    width: 100%;
    height: 3px;
    background-color: white;
    transition: transform 0.3s ease;
    text-align: flex-end;
    padding: 0;
    margin: 5px;
}
.open .line1 {
    transform: rotate(-45deg) translate(-5px, 5px);
}
.open .line2 {
    opacity: 0;
}
.open .line3 {
    transform: rotate(45deg) translate(-5px, -5px);
}
.text-content{
    bottom: 600px;
    left: 0;
    position: relative;
    z-index: 2;
    padding: 20px;
    color: rgb(204, 155, 20);
    animation: welcomeText 1s ease forwards;
}
.bgimg {
    position: relative;
    z-index: -1;
    align-items: center;
}
.backgroundgif {
    position: relative;
    background-color: #333;
    z-index: -2;
    width: 100%;
    height: auto;
}
.filterImage {
    filter: brightness(10%);
}
.par-cont {
    display: flex;
    align-items: flex-start;
}
@keyframes welcomeText {
    0%{ opacity: 0;
        transform: translatex(-150px);
    }
    100%{ opacity: 1;
    transform: translatex(0);} 
}